body {
  margin: 0;
  padding: 0;

}
.container {
  margin: 0;
  padding: 20px;
  overflow: auto;
}

.header {
  padding: 5px;
  display: grid;
  grid-template-columns: 95% auto;

}

.header h1 {
  text-align: center;
}